$body-color: #23262f;
$main-color: #fff;
$red-color: #d11a2a;
$green-color: #06b966;
$grey-color: #777e90;
$grey-background-color: #f4f5f6;
$desktop-min: "min-width: 768px";
$mobile-max: "max-width: 767.98px";
$transition3: 0.3s ease;
$transition1: 0.1s ease;

@import "_nullstyle.scss";
@import "_fonts.scss";
@import "_templates.scss";

body {
  font-family: "Manrope", sans-serif;
  color: $body-color;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 500;
  user-select: none;
}
.wrapper {
  min-height: 100vh;
}
.container {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}
.section-heading {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;

  @media (max-width: 369.98px) {
    font-size: 40px;
  }
}
.registration {
  overflow: hidden;

  &__row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -16px;
    margin-right: -16px;
    min-height: 100vh;
  }
  &__form-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media ($desktop-min) {
      min-width: 568px;
      flex: 1 1 51.5%;
    }
    @media ($mobile-max) {
      flex: 1 1 100%;
    }
  }
  &__side-banner-wrapper {
    flex: 1 1 48.5%;
    padding-left: 0;
    padding-right: 0;
    min-width: 568px;

    @media ($mobile-max) {
      display: none;
    }
  }
}
.form {
  max-width: 397px;
  padding-top: 40px;
  padding-bottom: 82px;

  @media ($mobile-max) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 42px;

    @media ($mobile-max) {
      margin-bottom: 32px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
  }
  &__item {
    flex: 1 1 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;

    &_wide {
      flex: 1 1 100%;
      max-width: 100%;
    }
    &_wide:last-child,
    &:not(&_wide) + &:last-child {
      margin-bottom: 0;
    }
  }
}
.f-item {
  margin-bottom: 26px;

  &__wrapper {
    position: relative;
  }
  &__label {
    display: inline-block;
    color: $grey-color;
    margin-bottom: 14px;
  }
  &__input {
    width: 100%;
    border: 0;
    color: inherit;
    padding: 10px 20px;
    min-height: 56px;
    font-size: 14px;
    border-radius: 8px;
    background-color: $grey-background-color;
    transition: box-shadow $transition3;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $grey-color;
    }
    &_error {
      box-shadow: 0 0 0 1px $red-color;
    }
    &_valid {
      box-shadow: 0 0 0 1px $green-color;
    }
  }
  &__toggle-password {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 48px;
    height: 48px;
    border: 0;
    opacity: 0.5;
    background: url("../images/show-password-icon.svg") center center / 24px 24px no-repeat transparent;
    border-radius: 10%;
    transition: opacity $transition3, box-shadow $transition3;

    &_active {
      background-image: url("../images/hide-password-icon.svg");
    }
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  &__error-message {
    visibility: hidden;
    color: #000;
    opacity: 0;
    margin-top: 0;
    line-height: 1.77;
    transition: margin-top $transition3, opacity $transition3, visibility $transition3;

    &_active {
      visibility: visible;
      opacity: 1;
      margin-top: 10px;
    }
  }
  &__required-note {
    color: $grey-color;
    margin-top: -4px;

    @media ($mobile-max) {
      margin-top: 1px;
    }
  }
  & input[type="checkbox"] {
    & + label {
      position: relative;
      margin-top: 10px;
      padding-left: 29px;
      line-height: 1.538;
      cursor: pointer;

      @media ($mobile-max) {
        margin-top: -5px;
      }
    }
    &:focus + label:before,
    &:active + label:before {
      outline: none;
      box-shadow: 0 0 0 2px $grey-color;
    }
    @mixin checkbox-pseudo-default {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 2px;
    }
    & + label:before {
      @include checkbox-pseudo-default;
      background-color: #adb3c1;
      transition: background-color $transition3, box-shadow $transition3;
    }
    &:checked + label:before {
      background-color: $green-color;
    }
    & + label:after {
      @include checkbox-pseudo-default;
      background: url("../images/check-icon.svg") center / auto no-repeat transparent;
      opacity: 0;
      transform: translateY(-2px);
      transition: opacity $transition3 0.1s, transform $transition3 0.1s;
    }
    &:checked + label:after {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__button {
    width: 100%;
    margin-top: -15px;

    @media ($mobile-max) {
      margin-top: -10px;
    }
  }

  @mixin placeholder {
    color: $grey-color;
    opacity: 1;
  }
  input::-webkit-input-placeholder {
    @include placeholder;
  }
  input::-moz-placeholder {
    @include placeholder;
  }
  input:-ms-input-placeholder {
    @include placeholder;
  }
  input:-moz-placeholder {
    @include placeholder;
  }
  input::placeholder {
    @include placeholder;
  }
}
.required-star {
  font-weight: 600;
  color: $red-color;
}
.side-banner {
  min-height: 100%;
  background: url("../images/side-banner-element-01.svg") left top 44px / auto no-repeat,
    url("../images/side-banner-element-02.svg") right top / auto no-repeat,
    url("../images/side-banner-element-03.svg") 48.8% 38.6% / auto no-repeat, $grey-background-color;
  background-color: $grey-background-color;
}
